@tailwind base;

* {
  scrollbar-width: thin;
}

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 173.4 100% 100%;
    --foreground: 173.4 5% 10%;
    --card: 173.4 50% 100%;
    --card-foreground: 173.4 5% 15%;
    --popover: 173.4 100% 100%;
    --popover-foreground: 173.4 100% 10%;
    --primary: 173.4 80.4% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173.4 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 135.4 30% 95%;
    --muted-foreground: 173.4 5% 40%;
    --accent: 135.4 30% 90%;
    --accent-foreground: 173.4 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 173.4 5% 100%;
    --border: 173.4 30% 82%;
    --input: 173.4 30% 50%;
    --ring: 173.4 80.4% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    color-scheme: dark;
    --background: 188.7 50% 10%;
    --foreground: 188.7 5% 100%;
    --card: 188.7 50% 10%;
    --card-foreground: 188.7 5% 100%;
    --popover: 188.7 50% 5%;
    --popover-foreground: 188.7 5% 100%;
    --primary: 188.7 94.5% 42.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188.7 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 150.7 30% 25%;
    --muted-foreground: 188.7 5% 65%;
    --accent: 150.7 30% 25%;
    --accent-foreground: 188.7 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 188.7 5% 100%;
    --border: 188.7 30% 50%;
    --input: 188.7 30% 50%;
    --ring: 188.7 94.5% 42.7%;
    --background: 173.4 41% 10%;
    --foreground: 173.4 5% 90%;
    --card: 173.4 41% 10%;
    --card-foreground: 173.4 5% 90%;
    --popover: 173.4 41% 5%;
    --popover-foreground: 173.4 5% 90%;
    --primary: 173.4 80.4% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 135.4 30% 25%;
    --muted-foreground: 173.4 5% 60%;
    --accent: 135.4 30% 25%;
    --accent-foreground: 173.4 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 173.4 5% 90%;
    --border: 173.4 30% 50%;
    --input: 173.4 30% 50%;
    --ring: 173.4 80.4% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply relative bg-background text-foreground;
    @apply overflow-y-scroll;
  }
}
